/* Mobile screen ( Potrait and Landscape ) */
@media (width >=768px) {
    /* Navigation */
    .navigation {
        justify-content: space-between;
    }
    .nav-menu {
        flex-direction: row;
        position: unset;
        background-color: unset;
        justify-content: space-between;
        width: 30%;
        height: unset;
        opacity: unset;
        visibility: unset;
        pointer-events: unset;
        margin-left: 35px;

    }
    .nav-menu a {
        all: unset;
        cursor: pointer;
    }
    .nav-menu a:hover {
        background-color: unset;
    }
    .hamburger-btn {
        display: none;
    }
    /*  about  */
    .about {
        padding-block: 40px;
    }
    .about-content {
        flex-direction: row;
    }
    .about-my-picture {
        width: 300px;
        height: 350px;
    }
    .about-explain-me {
        width: 300px;
    }
    .about-explain-me p {
        transform: translateX(-20px);
}
/*  projetcs   */
  .container-projects .card-projects{
        display: flex;
        flex-direction: row; 
   }

}

/* Tablet screen ( Potrait and Landscape ) */
@media (768px <=width <=1023px) {}

/* Laptop screen ( Potrait and Landscape ) */
@media (1024px <=width 1439px) {}
/* Dekstop screen ( Potrait and Landscape ) */
@media (width >=1440px) {}