/* Mobile screen ( Potrait and Landscape ) */
@media (width >=768px) {
    /* Navigation */
    header .navigation {
        justify-content: space-between;
/*         padding: .6rem; */
        }
    .nav-menu {
        flex-direction: row;
        position: unset;
        background-color: unset;
        justify-content: space-between;
        width: 30%;
        height: unset;
        opacity: unset;
        visibility: unset;
        pointer-events: unset;
        margin-left: 35px;

    }
    .nav-menu a {
        all: unset;
        cursor: pointer;
    }
    .nav-menu a:hover {
        background-color: unset;
    }
    .hamburger-btn {
        display: none;
    }

    #dark-mode-btn {
          margin-left: unset;
        
    }
     section.skills {
          gap: 5rem;
     }
     .skills .skills-content {
          flex-direction: row;
     } 

    /*  about  */
    .about {
        padding-block: 40px;
    }
    .about-content {
        flex-direction: row;
        gap: 0;
    }
    .about-my-picture {
        width: 350px;
        height: 350px;
    }
    .about-explain-me {
        width: 350px;
        height: 350px;

    }
    .about-explain-me p {
        transform: translateX(-35px);
}
/*  projetcs   */
  .container-projects .card-projects{
        display: flex;
        flex-direction: row; 
   }

   .about-my-picture img {
         transform: translateX(40px);
   }

/*  contact   */
  #contact {
      margin-top: 0;
  }
   .contact .container-contact {
       flex-direction: row;
   }

   .container-contact .contact-sosial-media p {
        width: 50%;
   }

}

/* Tablet screen ( Potrait and Landscape ) */
@media (768px <=width <=1023px) {
/* navigation */
          .nav-menu {
             width: 40%;
          }
}

/* Laptop screen ( Potrait and Landscape ) */
@media (1024px <= width <= 1439px) {
         .nav-menu {
             width: 45%;
          }
}
/* Dekstop screen ( Potrait and Landscape ) */
@media (width >=1440px) {
   /*    header .navigation {
         width: 100%;
         border: 5px solid red;
    } */
   
        button#dark-mode-btn {
          border: 1px solid black;
/*           margin-right: 120px; */
    }

}