.skills {
	  height: 100vh;
	  border:  1px solid black;
	  padding-block: 20px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
}

.skills-content {
	   width: 900px;
	   max-width: 90%;
	   border: 1px solid black;
}

.skills h3 {
	  font-weight: 500;
         border-bottom: 2px solid black;
         padding-bottom: 10px;
         font-variant: small-caps;	  
}

button.active {
  background-color: white;
}

.list {
  display: none;
  padding: 10px 20px;
}

.list.active {
  display: block;
}