/* @import url('reset.css'); */
@import url('header.css');
@import url('fonts.css');
@import url('about.css');
@import url('responsive.css');
@import url('skills.css');
@import url('projects.css');
@import url('contact.css');
@import url('footer.css');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
     position: relative;
}

/* style */
body {
   font-size: 1rem;
   font-family: 'Poppins', Arial, Helvetica, sans-serif;
   background-color: #f6f6f6; 
   overflow-x: hidden;
   line-height: 1.1;
/*    height: 100vh; */
   margin-bottom: 100px;
/*    margin-top: 30px; */
}

body a {
     color: #2f3241;
}

/* main{ 
   width: 100vw;
   box-sizing: border-box;
 } */

 .btn{
    display: inline-block;
    background-color: #2caae1;
    font-weight: 500;

    color: white;
    text-decoration: none; 
    text-transform: uppercase;
    padding: 1em 1em;
    letter-spacing: .5px;
    border: none;
/*     margin: 0 .3em;  */
}
.btn:hover {
      opacity: .7;
}
.btn-sm{
    font-size: 0.5em;
}

.btn-lg{
    font-size: .7em;
}


